.Rproj.user
.Rhistory
MungeSumstats.Rproj
.RData
.Ruserdata
.Rhistory
BootstrapPlots
*.csv
*.log
doc
Meta
vignettes/.build.timestamp
vignettes/hssGWAS_cache/*
vignettes/hssGWAS_files/*
hssGWAS.Rproj
.DS_Store
inst/.DS_Store
vignettes/.DS_Store
data/SNP_LOC_DATA.rda
inst/doc
/doc/
/Meta/
ieugwasr_oauth
