.Rproj.user
.Rhistory
MungeSumstats.Rproj
.RData
.Ruserdata
.Rhistory
BootstrapPlots
*.csv
*.log
doc
Meta
vignettes/.build.timestamp
vignettes/hssGWAS_cache/*
vignettes/hssGWAS_files/*
hssGWAS.Rproj

# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch
.DS_Store
./.DS_Store
./**/.DS_Store
./**/**/.DS_Store
./**/**/**/.DS_Store
./**/**/**/**/.DS_Store
./**/**/**/**/**/.DS_Store
./**/**/**/**/**/**/.DS_Store

data/SNP_LOC_DATA.rda
inst/doc
/doc/
/Meta/
ieugwasr_oauth
inst/extdata/ALSvcf.vcf.bgz
inst/extdata/ALSvcf.vcf.bgz.tbi
